html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #eae9cd;
  line-height: 1.4; /* Base line height */
}
p {
  font-size: 1.25rem;
  font-family: "Cairo", sans-serif;
  margin-bottom: 1.75rem;
  color: #333;
}

h1 {
  font-size: 2em;
  margin-bottom: 3.5rem;
  color: #297faa;
  margin: 0;
  font-variant: small-caps;
  /*font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;*/
  font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style",
    Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
}

h2 {
  color: #297faa;
  margin: 0;
  font-variant: small-caps;
  /*font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;*/
  font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style",
    Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 1.75rem;
  color: #297faa;
  margin: 0;
  font-variant: small-caps;
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
}

h5 {
  color: #297faa;
  margin: 0;
  /*font-variant: small-caps;*/
  font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style",
    Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
}

h4 {
  margin: 10px;
}

a {
  color: #297faa;
  font-size: 1.25rem;
  font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style",
    Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
  font-size: 15px;
  font-variant: small-caps;
  text-decoration: none;
}

a:visited {
  color: #297faa;
  font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style",
    Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
  font-size: 15px;
  font-variant: small-caps;
}

a:hover {
  color: #aa9c29;
  text-decoration: underline;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: space-between;
  max-width: 100vw;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

h4 > strong,
ul > strong {
  font-size: 1.2rem;
}

img {
  max-width: 100%;
  height: auto;
  margin: 5px;
}

/*
img[src="files/domain_two/schoolwires_1.png"],
img[src="files/domain_two/schoolwires_2.png"],
img[src="files/domain_two/schoolwires_3.png"] {
  flex: 0 0 75%;
}
*/

/* Center an Image */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
